body {
    background-color: black;
}

div nav {
    text-align: center;
}

a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

a:visited {
    color: crimson;
}

a:hover {
    color: mediumslateblue;
}

h1, h2, h3, p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

div p {
    font-size: 12px;
    width: 600px;
    margin: auto;
}

img {
    display: block;
    margin: auto;
}